@use '_variables.scss' as *;

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	height: 25vh;
}

nav {
	width: 50%;
	max-width: 420px;
	display: flex;
	height: 70px;

	justify-content: space-around;
	align-items: flex-end;
	margin-top: 5px;
}

.Nav-link {
	font-family: $pop-font;
	background-color: $purple;
	padding: 3px 20px;
	border-radius: 10px;
	border: 3px solid $purple;
	height: 40px;
	font-size: 2.5rem;
	line-height: 3rem;
	text-decoration: none;
	color: $light-green;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	&:hover,
	&:focus {
		color: $purple;
		background-color: $light-green;
	}
}

.Nav-link.special {
	background-color: $red-light;
	width: 105px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid $red-light;
	font-size: 4rem;
	align-self: start;
	flex-direction: column;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: $red-light;
	&:hover,
	&:focus {
		background-color: transparent;
		border-color: transparent;
		-webkit-text-stroke-width: 0;
		color: $red-light;
	}

	span {
		margin: 0;
		font-size: 4rem;
	}
}

.title-container {
	display: flex;
}

.star-right {
	position: relative;
	top: 23px;
	left: -18px;
	transform: scale(0.6);
}

.star-top {
	position: relative;
	top: -50px;
	left: 68px;
	transform: scale(0.6);
}
.star-left {
	position: relative;
	top: -2px;
	right: -4px;
	transform: scale(0.7);
}

.lines-before {
	position: relative;
	bottom: -8px;
	right: -26px;
	transform: scale(0.6);
}
.lines-after {
	position: relative;
	bottom: 22px;
	right: 8px;
	transform: scale(0.6);
}
