@use '_variables.scss' as *;

.list-container {
	display: grid;
	place-items: center;
	.first-line {
		font-family: $title-font;
		color: $light-green;
		font-weight: 400;
		font-size: 60px;
		line-height: 72px;
		text-align: center;
	}
	.second-line {
		font-family: $header-font;
		font-style: normal;
		font-weight: 400px;
		font-size: 40px;
		line-height: 60px;
		text-align: center;
		color: #ff404a;
	}

	.add-button {
		transition: 0.5s ease-out;
		width: 153px;
		height: 114px;
		left: 643px;
		top: 732px;
		background: $yellow;
		border-radius: 40px;
		font-family: $header-font;
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		text-align: center;
		color: $brown;
	}

	.add-button:hover {
		cursor: pointer;
		transform: rotate(-360deg);
	}

	.add-button:active {
		transform: scale(0.85);
	}

	.add-button {
		animation: shadow-drop-right 0.4s linear both;
	}

	@keyframes shadow-drop-right {
		0% {
			box-shadow: 0 0 0 0 transparent;
		}

		100% {
			box-shadow: 12px 0 20px 0 $purple;
		}
	}
}

//list search view (with token) list.js

.item-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.item-list-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-list-container form label {
	font-family: $header-font;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 1em;
	color: $light-green;
}

.item-list-container form input[type='text'] {
	margin-bottom: 2em;
	background: #fff;
	padding: 1.5em;
	width: 80%;
	border-radius: 10em;
	transition: box-shadow 300ms ease;
	color: $brown;
	font-family: $header-font;
	font-size: 1.5em;
}

.item-list-container ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 5em;
	list-style: none;
	padding: 0;
}

.item-list-container ul li {
	text-decoration: underline;
	color: #e5f4d3;
	font-size: 3em;
}

//ListItem.jsx
.ListItem {
	display: flex;
	align-items: center;

	label {
		margin-right: 10px;
	}

	span {
		flex-grow: 1;
	}

	.delete-button {
		margin-left: 10px;
	}
}

input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--form-background);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	margin-right: 0.5em;
	display: grid;
	place-content: center;
	cursor: pointer;
}

input[type='checkbox']::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: $red-dark;
}

input[type='checkbox']:checked::before {
	transform: scale(1);
}

input[type='checkbox']:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

input[type='checkbox']:disabled {
	--form-control-color: $red-dark;
	color: var(--form-control-disabled);
	cursor: not-allowed;
}
