@use '_variables.scss' as *;

@media (max-width: 980px) {
	.wrapper,
	nav {
		width: 65%;
		max-width: 100%;
	}
	h1 {
		font-size: 5.5rem;
	}
	.title-container .star-right,
	.title-container .star-top,
	.title-container .star-left,
	.Nav-link.special .lines-before,
	.Nav-link.special .lines-after {
		transform: scale(0.4);
	}

	h2 {
		font-size: 2.5rem;
		-webkit-text-stroke-width: 0.5px;
	}
	.Nav-link {
		font-size: 2.2rem;
	}

	.Nav-link.special {
		font-size: 3.5rem;
	}
	p,
	li {
		font-size: 1.8rem;
		-webkit-text-stroke-width: 0.5px;
	}
}

@media (max-width: 775px) {
	.wrapper {
		width: 85%;
		padding: 30px 15px 0 15px;
	}
	h1 {
		font-size: 5rem;
	}
	label,
	legend,
	.list-container p {
		font-size: 1.8rem;
	}
	.Nav-link {
		font-size: 1.8rem;
		padding: 3px 15px;
	}

	.Nav-link.special span {
		font-size: 3rem;
	}
	.Home form {
		flex-direction: column;
	}
	footer {
		font-size: 1.2rem;
		-webkit-text-stroke-width: 0.5px;
	}
}

@media (max-width: 700px) {
	h1 {
		font-size: 4.5rem;
	}
	.Nav-link.special {
		width: 90px;
		height: 40px;
		span {
			font-size: 3rem;
			line-height: 2.2rem;
		}
	}
}

@media (max-width: 480px) {
	.wrapper {
		width: 95%;
		padding: 30px 10px 0 10px;
	}
	nav {
		width: 95%;
	}
	h1 {
		font-size: 4rem;
	}
	.title-container {
		.star-right {
			bottom: -0.5rem;
			right: 6.5rem;
		}
		.star-top {
			top: -3.8rem;
			left: 4rem;
		}
		.star-left {
			top: 1rem;
			left: 4.5rem;
		}
	}
	.item-urgency-container {
		.inputs {
			flex-direction: column;
			align-items: center;
			label {
				width: 80%;
				margin: 7px;
			}
		}
	}
	.item-list .list-item {
		width: 90%;
		p {
			font-size: 1.4rem;
		}
	}
}

@media (max-width: 360px) {
}
